:root {
	--radius: 0.625rem;
}

.zinc {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.21 0.006 285.885);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.55 0.01 286);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.637 0.237 25.331);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.92 0 286);
	--input: oklch(0.92 0 286);
	--ring: oklch(0.871 0.006 286.286);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 0.625rem;
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0 286);
	--sidebar-ring: oklch(0.871 0.006 286.286);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.zinc.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.985 0 0);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.21 0.006 285.885);
	--muted-foreground: oklch(0.65 0.01 286);
	--accent: oklch(0.21 0.006 285.885);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.274 0.006 286.033);
	--input: oklch(0.274 0.006 286.033);
	--ring: oklch(0.442 0.017 285.786);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.985 0 0);
	--sidebar-primary-foreground: oklch(0.21 0.006 285.885);
	--sidebar-accent: oklch(0.21 0.006 285.885);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.274 0.006 286.033);
	--sidebar-ring: oklch(0.442 0.017 285.786);

	--chart-grid: oklch(0.2002 0 0);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.purple {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.606 0.25 292.717);
	--primary-foreground: oklch(0.969 0.016 293.756);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.606 0.25 292.717);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.606 0.25 292.717);
	--sidebar-primary-foreground: oklch(0.969 0.016 293.756);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.606 0.25 292.717);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.purple.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.541 0.281 293.009);
	--primary-foreground: oklch(0.969 0.016 293.756);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.541 0.281 293.009);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.541 0.281 293.009);
	--sidebar-primary-foreground: oklch(0.969 0.016 293.756);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.541 0.281 293.009);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.yellow {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.795 0.184 86.047);
	--primary-foreground: oklch(0.421 0.095 57.708);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.795 0.184 86.047);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.795 0.184 86.047);
	--sidebar-primary-foreground: oklch(0.421 0.095 57.708);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.795 0.184 86.047);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.yellow.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.795 0.184 86.047);
	--primary-foreground: oklch(0.421 0.095 57.708);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.554 0.135 66.442);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.795 0.184 86.047);
	--sidebar-primary-foreground: oklch(0.421 0.095 57.708);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.554 0.135 66.442);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.blue {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.623 0.214 259.815);
	--primary-foreground: oklch(0.97 0.014 254.604);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.623 0.214 259.815);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.623 0.214 259.815);
	--sidebar-primary-foreground: oklch(0.97 0.014 254.604);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.623 0.214 259.815);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.blue.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.546 0.245 262.881);
	--primary-foreground: oklch(0.379 0.146 265.522);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.488 0.243 264.376);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.546 0.245 262.881);
	--sidebar-primary-foreground: oklch(0.379 0.146 265.522);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.488 0.243 264.376);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.green {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.723 0.219 149.579);
	--primary-foreground: oklch(0.982 0.018 155.826);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.723 0.219 149.579);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.723 0.219 149.579);
	--sidebar-primary-foreground: oklch(0.982 0.018 155.826);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.723 0.219 149.579);
}

.green.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.696 0.17 162.48);
	--primary-foreground: oklch(0.393 0.095 152.535);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.527 0.154 150.069);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.696 0.17 162.48);
	--sidebar-primary-foreground: oklch(0.393 0.095 152.535);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.527 0.154 150.069);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.orange {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.705 0.213 47.604);
	--primary-foreground: oklch(0.98 0.016 73.684);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.213 47.604);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.705 0.213 47.604);
	--sidebar-primary-foreground: oklch(0.98 0.016 73.684);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.213 47.604);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.orange.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.646 0.222 41.116);
	--primary-foreground: oklch(0.98 0.016 73.684);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.646 0.222 41.116);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.646 0.222 41.116);
	--sidebar-primary-foreground: oklch(0.98 0.016 73.684);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.646 0.222 41.116);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.pink {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.645 0.246 16.439);
	--primary-foreground: oklch(0.969 0.015 12.422);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.645 0.246 16.439);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.645 0.246 16.439);
	--sidebar-primary-foreground: oklch(0.969 0.015 12.422);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.645 0.246 16.439);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.pink.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.645 0.246 16.439);
	--primary-foreground: oklch(0.969 0.015 12.422);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.645 0.246 16.439);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.645 0.246 16.439);
	--sidebar-primary-foreground: oklch(0.969 0.015 12.422);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.645 0.246 16.439);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.red {
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.637 0.237 25.331);
	--primary-foreground: oklch(0.971 0.013 17.38);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.637 0.237 25.331);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.637 0.237 25.331);
	--sidebar-primary-foreground: oklch(0.971 0.013 17.38);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.637 0.237 25.331);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.red.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.141 0.005 285.823);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.141 0.005 285.823);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.637 0.237 25.331);
	--primary-foreground: oklch(0.971 0.013 17.38);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.637 0.237 25.331);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.141 0.005 285.823);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.637 0.237 25.331);
	--sidebar-primary-foreground: oklch(0.971 0.013 17.38);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.637 0.237 25.331);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.cyberpunk {
	--background: oklch(1 0 1);
	--foreground: oklch(0.16 0.04 281.83);
	--card: oklch(1 0 1);
	--card-foreground: oklch(0.16 0.04 281.83);
	--popover: oklch(1 0 1);
	--popover-foreground: oklch(0.16 0.04 281.83);
	--primary: oklch(0.67 0.29 341.41);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.96 0.02 286.02);
	--secondary-foreground: oklch(0.16 0.04 281.83);
	--muted: oklch(0.96 0.02 286.02);
	--muted-foreground: oklch(0.16 0.04 281.83);
	--accent: oklch(0.96 0.02 286.02);
	--accent-foreground: oklch(0.16 0.04 281.83);
	--destructive: oklch(0.65 0.23 34.04);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.92 0.01 225.09);
	--input: oklch(0.92 0.01 225.09);
	--ring: oklch(0.67 0.29 341.41);
	--chart-1: oklch(0.67 0.29 341.41);
	--chart-2: oklch(0.55 0.29 299.1);
	--chart-3: oklch(0.84 0.15 209.29);
	--chart-4: oklch(0.89 0.17 171.27);
	--chart-5: oklch(0.92 0.19 101.41);
	--sidebar: oklch(1 0 1);
	--sidebar-foreground: oklch(0.16 0.04 281.83);
	--sidebar-primary: oklch(0.67 0.29 341.41);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.96 0.02 286.02);
	--sidebar-accent-foreground: oklch(0.16 0.04 281.83);
	--sidebar-border: oklch(0.92 0.01 225.09);
	--sidebar-ring: oklch(0.67 0.29 341.41);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.cyberpunk.dark {
	--background: oklch(0.16 0.04 281.83);
	--foreground: oklch(0.95 0.01 260.73);
	--card: oklch(0.16 0.04 281.83);
	--card-foreground: oklch(0.95 0.01 260.73);
	--popover: oklch(0.16 0.04 281.83);
	--popover-foreground: oklch(0.95 0.01 260.73);
	--primary: oklch(0.67 0.29 341.41);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.25 0.06 281.14);
	--secondary-foreground: oklch(0.95 0.01 260.73);
	--muted: oklch(0.25 0.06 281.14);
	--muted-foreground: oklch(0.62 0.05 278.1);
	--accent: oklch(0.25 0.06 281.14);
	--accent-foreground: oklch(0.95 0.01 260.73);
	--destructive: oklch(0.65 0.23 34.04);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.33 0.08 280.79);
	--input: oklch(0.33 0.08 280.79);
	--ring: oklch(0.67 0.29 341.41);
	--chart-1: oklch(0.67 0.29 341.41);
	--chart-2: oklch(0.55 0.29 299.1);
	--chart-3: oklch(0.84 0.15 209.29);
	--chart-4: oklch(0.89 0.17 171.27);
	--chart-5: oklch(0.92 0.19 101.41);
	--sidebar: oklch(0.16 0.04 281.83);
	--sidebar-foreground: oklch(0.95 0.01 260.73);
	--sidebar-primary: oklch(0.67 0.29 341.41);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.25 0.06 281.14);
	--sidebar-accent-foreground: oklch(0.95 0.01 260.73);
	--sidebar-border: oklch(0.33 0.08 280.79);
	--sidebar-ring: oklch(0.67 0.29 341.41);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.rose {
	--background: oklch(1 0 0);
	--foreground: oklch(0.33 0.12 325.04);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.33 0.12 325.04);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.33 0.12 325.04);
	--primary: oklch(0.53 0.14 355.2);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.87 0.07 334.9);
	--secondary-foreground: oklch(0.44 0.13 324.8);
	--muted: oklch(0.94 0.03 331.55);
	--muted-foreground: oklch(0.49 0.12 324.45);
	--accent: oklch(0.87 0.07 334.9);
	--accent-foreground: oklch(0.44 0.13 324.8);
	--destructive: oklch(0.52 0.14 20.83);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.86 0.08 328.91);
	--input: oklch(0.85 0.06 336.6);
	--ring: oklch(0.59 0.22 0.58);
	--chart-1: oklch(0.6 0.24 344.47);
	--chart-2: oklch(0.44 0.23 300.62);
	--chart-3: oklch(0.38 0.04 226.15);
	--chart-4: oklch(0.83 0.12 88.35);
	--chart-5: oklch(0.78 0.13 59);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.49 0.19 354.54);
	--sidebar-primary: oklch(0.53 0.14 355.2);
	--sidebar-primary-foreground: oklch(0.97 0.01 337.52);
	--sidebar-accent: oklch(0.98 0 106.42);
	--sidebar-accent-foreground: oklch(0.4 0.03 285.2);
	--sidebar-border: oklch(0.94 0 48.72);
	--sidebar-ring: oklch(0.59 0.22 0.58);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.rose.dark {
	--background: oklch(0.19 0.02 331.05);
	--foreground: oklch(0.84 0.04 309.54);
	--card: oklch(0.19 0.02 331.05);
	--card-foreground: oklch(0.85 0.03 341.46);
	--popover: oklch(0.19 0.02 331.05);
	--popover-foreground: oklch(0.96 0.01 341.8);
	--primary: oklch(0.46 0.19 4.1);
	--primary-foreground: oklch(0.86 0.06 346.37);
	--secondary: oklch(0.31 0.03 310.06);
	--secondary-foreground: oklch(0.85 0.04 307.96);
	--muted: oklch(0.26 0.02 309.47);
	--muted-foreground: oklch(0.79 0.04 307.1);
	--accent: oklch(0.36 0.05 308.49);
	--accent-foreground: oklch(0.96 0.01 341.8);
	--destructive: oklch(0.23 0.05 12.61);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.33 0.02 343.45);
	--input: oklch(0.34 0.02 332.83);
	--ring: oklch(0.59 0.22 0.58);
	--chart-1: oklch(0.53 0.14 355.2);
	--chart-2: oklch(0.56 0.19 306.86);
	--chart-3: oklch(0.72 0.15 60.58);
	--chart-4: oklch(0.62 0.2 312.74);
	--chart-5: oklch(0.61 0.21 6.14);
	--sidebar: oklch(0.19 0.02 331.05);
	--sidebar-foreground: oklch(0.86 0.03 343.66);
	--sidebar-primary: oklch(0.46 0.19 4.1);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.23 0.03 338.2);
	--sidebar-accent-foreground: oklch(0.97 0 286.38);
	--sidebar-border: oklch(0 0 0);
	--sidebar-ring: oklch(0.59 0.22 0.58);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.night {
	--background: oklch(1 0 0);
	--foreground: oklch(0.36 0.14 278.7);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.36 0.14 278.7);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.36 0.14 278.7);
	--primary: oklch(0.61 0.22 292.72);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.96 0.02 295.19);
	--secondary-foreground: oklch(0.46 0.21 277.02);
	--muted: oklch(0.97 0.02 293.76);
	--muted-foreground: oklch(0.54 0.25 293.01);
	--accent: oklch(0.93 0.03 255.59);
	--accent-foreground: oklch(0.42 0.18 265.64);
	--destructive: oklch(0.64 0.21 25.33);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.93 0.03 272.79);
	--input: oklch(0.93 0.03 272.79);
	--ring: oklch(0.61 0.22 292.72);
	--chart-1: oklch(0.61 0.22 292.72);
	--chart-2: oklch(0.54 0.25 293.01);
	--chart-3: oklch(0.49 0.24 292.58);
	--chart-4: oklch(0.43 0.21 292.76);
	--chart-5: oklch(0.38 0.18 293.74);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.36 0.14 278.7);
	--sidebar-primary: oklch(0.61 0.22 292.72);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.93 0.03 255.59);
	--sidebar-accent-foreground: oklch(0.42 0.18 265.64);
	--sidebar-border: oklch(0.93 0.03 272.79);
	--sidebar-ring: oklch(0.61 0.22 292.72);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.night.dark {
	--background: oklch(0.21 0.04 265.75);
	--foreground: oklch(0.93 0.03 272.79);
	--card: oklch(0.26 0.09 281.29);
	--card-foreground: oklch(0.93 0.03 272.79);
	--popover: oklch(0.26 0.09 281.29);
	--popover-foreground: oklch(0.93 0.03 272.79);
	--primary: oklch(0.61 0.22 292.72);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.26 0.09 281.29);
	--secondary-foreground: oklch(0.93 0.03 272.79);
	--muted: oklch(0.26 0.09 281.29);
	--muted-foreground: oklch(0.81 0.1 293.57);
	--accent: oklch(0.46 0.21 277.02);
	--accent-foreground: oklch(0.93 0.03 272.79);
	--destructive: oklch(0.64 0.21 25.33);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.28 0.14 291.09);
	--input: oklch(0.28 0.14 291.09);
	--ring: oklch(0.61 0.22 292.72);
	--chart-1: oklch(0.71 0.16 293.54);
	--chart-2: oklch(0.61 0.22 292.72);
	--chart-3: oklch(0.54 0.25 293.01);
	--chart-4: oklch(0.49 0.24 292.58);
	--chart-5: oklch(0.43 0.21 292.76);
	--sidebar: oklch(0.21 0.04 265.75);
	--sidebar-foreground: oklch(0.93 0.03 272.79);
	--sidebar-primary: oklch(0.61 0.22 292.72);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.46 0.21 277.02);
	--sidebar-accent-foreground: oklch(0.93 0.03 272.79);
	--sidebar-border: oklch(0.28 0.14 291.09);
	--sidebar-ring: oklch(0.61 0.22 292.72);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.aqua {
	--background: oklch(0.95 0.01 197.01);
	--foreground: oklch(0.38 0.06 212.66);
	--card: oklch(0.97 0.01 197.07);
	--card-foreground: oklch(0.38 0.06 212.66);
	--popover: oklch(0.97 0.01 197.07);
	--popover-foreground: oklch(0.38 0.06 212.66);
	--primary: oklch(0.56 0.09 203.28);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.92 0.02 196.84);
	--secondary-foreground: oklch(0.38 0.06 212.66);
	--muted: oklch(0.93 0.01 196.97);
	--muted-foreground: oklch(0.54 0.06 201.57);
	--accent: oklch(0.9 0.03 201.89);
	--accent-foreground: oklch(0.38 0.06 212.66);
	--destructive: oklch(0.57 0.19 25.54);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.89 0.02 204.41);
	--input: oklch(0.92 0.02 196.84);
	--ring: oklch(0.56 0.09 203.28);
	--chart-1: oklch(0.56 0.09 203.28);
	--chart-2: oklch(0.64 0.1 201.59);
	--chart-3: oklch(0.71 0.11 201.25);
	--chart-4: oklch(0.77 0.1 201.18);
	--chart-5: oklch(0.83 0.08 200.97);
	--sidebar: oklch(0.95 0.01 197.01);
	--sidebar-foreground: oklch(0.38 0.06 212.66);
	--sidebar-primary: oklch(0.56 0.09 203.28);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9 0.03 201.89);
	--sidebar-accent-foreground: oklch(0.38 0.06 212.66);
	--sidebar-border: oklch(0.89 0.02 204.41);
	--sidebar-ring: oklch(0.56 0.09 203.28);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.aqua.dark {
	--background: oklch(0.21 0.02 224.45);
	--foreground: oklch(0.85 0.13 195.04);
	--card: oklch(0.23 0.03 216.07);
	--card-foreground: oklch(0.85 0.13 195.04);
	--popover: oklch(0.23 0.03 216.07);
	--popover-foreground: oklch(0.85 0.13 195.04);
	--primary: oklch(0.85 0.13 195.04);
	--primary-foreground: oklch(0.21 0.02 224.45);
	--secondary: oklch(0.38 0.06 216.5);
	--secondary-foreground: oklch(0.85 0.13 195.04);
	--muted: oklch(0.29 0.04 218.82);
	--muted-foreground: oklch(0.66 0.1 195.05);
	--accent: oklch(0.38 0.06 216.5);
	--accent-foreground: oklch(0.85 0.13 195.04);
	--destructive: oklch(0.62 0.21 25.81);
	--destructive-foreground: oklch(0.96 0 0);
	--border: oklch(0.38 0.06 216.5);
	--input: oklch(0.38 0.06 216.5);
	--ring: oklch(0.85 0.13 195.04);
	--chart-1: oklch(0.85 0.13 195.04);
	--chart-2: oklch(0.66 0.1 195.05);
	--chart-3: oklch(0.58 0.08 195.07);
	--chart-4: oklch(0.43 0.06 202.62);
	--chart-5: oklch(0.31 0.05 204.16);
	--sidebar: oklch(0.21 0.02 224.45);
	--sidebar-foreground: oklch(0.85 0.13 195.04);
	--sidebar-primary: oklch(0.85 0.13 195.04);
	--sidebar-primary-foreground: oklch(0.21 0.02 224.45);
	--sidebar-accent: oklch(0.38 0.06 216.5);
	--sidebar-accent-foreground: oklch(0.85 0.13 195.04);
	--sidebar-border: oklch(0.38 0.06 216.5);
	--sidebar-ring: oklch(0.85 0.13 195.04);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.sun {
	--background: oklch(1 0 0);
	--foreground: oklch(0.32 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.32 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.32 0 0);
	--primary: oklch(0.64 0.17 36.44);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.97 0 264.54);
	--secondary-foreground: oklch(0.45 0.03 256.8);
	--muted: oklch(0.98 0 247.84);
	--muted-foreground: oklch(0.55 0.02 264.36);
	--accent: oklch(0.91 0.02 243.82);
	--accent-foreground: oklch(0.38 0.14 265.52);
	--destructive: oklch(0.64 0.21 25.33);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9 0.01 247.88);
	--input: oklch(0.97 0 264.54);
	--ring: oklch(0.64 0.17 36.44);
	--chart-1: oklch(0.72 0.06 248.68);
	--chart-2: oklch(0.79 0.09 35.96);
	--chart-3: oklch(0.58 0.08 254.16);
	--chart-4: oklch(0.5 0.08 259.49);
	--chart-5: oklch(0.42 0.1 264.03);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.32 0 0);
	--sidebar-primary: oklch(0.64 0.17 36.44);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.91 0.02 243.82);
	--sidebar-accent-foreground: oklch(0.38 0.14 265.52);
	--sidebar-border: oklch(0.93 0.01 264.53);
	--sidebar-ring: oklch(0.64 0.17 36.44);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}

.sun.dark {
	--background: oklch(0.26 0.03 262.67);
	--foreground: oklch(0.92 0 0);
	--card: oklch(0.26 0.03 262.67);
	--card-foreground: oklch(0.92 0 0);
	--popover: oklch(0.26 0.03 262.67);
	--popover-foreground: oklch(0.92 0 0);
	--primary: oklch(0.64 0.17 36.44);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.31 0.03 266.71);
	--secondary-foreground: oklch(0.92 0 0);
	--muted: oklch(0.31 0.03 266.71);
	--muted-foreground: oklch(0.72 0 0);
	--accent: oklch(0.34 0.06 267.59);
	--accent-foreground: oklch(0.88 0.06 254.13);
	--destructive: oklch(0.64 0.21 25.33);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.38 0.03 269.73);
	--input: oklch(0.38 0.03 269.73);
	--ring: oklch(0.64 0.17 36.44);
	--chart-1: oklch(0.72 0.06 248.68);
	--chart-2: oklch(0.77 0.09 34.19);
	--chart-3: oklch(0.58 0.08 254.16);
	--chart-4: oklch(0.5 0.08 259.49);
	--chart-5: oklch(0.42 0.1 264.03);
	--sidebar: oklch(0.26 0.03 262.67);
	--sidebar-foreground: oklch(0.92 0 0);
	--sidebar-primary: oklch(0.64 0.17 36.44);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.34 0.06 267.59);
	--sidebar-accent-foreground: oklch(0.88 0.06 254.13);
	--sidebar-border: oklch(0.38 0.03 269.73);
	--sidebar-ring: oklch(0.64 0.17 36.44);

	--chart-grid: oklch(0.9483 0.004 106.48);
	--chart-6: oklch(0.5464 0.1313 242.68);
	--chart-7: oklch(0.5385 0.220991 29.2339);
	--chart-8: oklch(0.9253 0.053 135.76);
	--chart-9: oklch(0.664 0.2127 139.77);
	--chart-10: oklch(0.9279 0.0366 17.83);
	--chart-11: oklch(0.5385 0.220991 29.2339);

	--color-gray: oklch(0.5486 0 0);
	--color-gray-opacity: oklch(0.9401 0 0);
	--color-green: oklch(0.664 0.2127 139.77);
	--color-green-opacity: oklch(0.9253 0.053 135.76);
	--color-orange: oklch(0.7833 0.1675 71.13);
	--color-orange-opacity: oklch(0.9466 0.054 83.45);
	--color-red: oklch(0.5385 0.220991 29.2339);
	--color-red-opacity: oklch(0.9279 0.0366 17.83);
	--color-blue: oklch(0.5464 0.1313 242.68);
	--color-blue-opacity: oklch(0.9049 0.0303 229.23);
	--color-purple: oklch(0.6619 0.1883 294.81);
	--color-purple-opacity: oklch(0.9506 0.0274 299.55);
	--color-pink: oklch(0.7469 0.1948 338.04);
	--color-pink-opacity: oklch(0.9712 0.0191 333.46);
}
